<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6ik_9JjkR8P5FexWI6N5HUmxDW-qfM0A</string>
	<key>GCM_SENDER_ID</key>
	<string>678557577625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alradiApp.mhmd.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>alraedclub-6d192</string>
	<key>STORAGE_BUCKET</key>
	<string>alraedclub-6d192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678557577625:ios:98f2b6ff95d7b5fe2da308</string>
</dict>
</plist>